*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    color:white;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.content {
    position:relative;
    display:grid;
    align-items:center; 
    z-index: 1;
    height:100%;
    width: 100%
}

h1 {
    font-size: 2em;
    font-weight: lighter;
    margin-left: 10vw;
    display:none;
    color:black;

}

.rubrik {
    font-family: "Arial", Times, serif;
    color: rgb(255, 102, 128);
}

.contacts {
    color: pink;
    position: fixed;
    bottom: 6px;
    left:20px;
    font-size: 1vw;

   
}

a{
 text-decoration:none;   
 color: pink;
 text-transform: uppercase;    
}

