*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    color:white;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.content {
    position:relative;
    display:grid;
    align-items:center; 
    z-index: 1;
    height:100%;
    width: 100%
}

h1 {
    font-size: 2em;
    font-weight: lighter;
    margin-left: 10vw;
    display:none;
    color:black;

}

.rubrik {
    font-family: "RNS Sisma", Times, serif;
    font-size:4vw;
    font-weight:900;
    color: rgb(255, 102, 128);
    width:80vw;
}

.contacts {

    position: fixed;
    bottom: 6px;
    left:20px;
    font-size: 1.3em;
    text-decoration: none
   
}

a {
    text-decoration:none;
    color: pink;
    font-family:plastic;
}

 .symbol{
 text-decoration:none;   
 color: pink;
 text-transform: lowercase;
 font-family: 'Lucidity Extras02';   
 font-size: 1.7em;
 font-weight:bold;

 
}

